<%- include('../partials/header', { title: 'Bad Request' }) %>

<div class="card" style="text-align: center">
  <h2>400</h2>
  <p><%= message || 'Invalid request' %></p>
  <br />
  <a href="/" class="btn btn_primary">Go Home</a>
</div>
